*{
    padding:0;
    margin:0;
}
body{
font-family: 'Ubuntu', sans-serif;
background-color: rgb(240, 234, 234);
color:grey;
}
::-webkit-scrollbar{
    display:none;
}

/*header*/
header{
    background-color: rgb(240, 234, 234);
    position: fixed;
    width:100%;
    display:flex;
    align-items: center;
}
header .company-name{
    color: rgb(36, 34, 34);
    padding:0 10px;
    font-weight: 600;
    font-family: arial;
    background-color: unset;
    display:flex;
    align-items: center;
}
header .company-name label{
    color:rgb(20, 65, 102);
}
header .company-name .logo{
    display:flex;
    align-items: center;
    gap:2px;
}
header .company-name .logo .line1{
    width:3px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}
header .company-name .logo .line2{
    width:3px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}
header .company-name .logo .line3{
    width:3px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}
/*menu icon*/
header .menu-icon{
    background-color: unset;
    flex:1;
    padding:15px;
    display:flex;
    justify-content: end;
    background-color: red;
}
header .menu-icon .bar1,header .menu-icon .bar2,header .menu-icon .bar3{
    width:20px;
    height:3px;
    background-color: rgb(228, 223, 223);
    margin-bottom: 4px;;
}
/*side-section*/
.side-sections{
    height:100dvh;
    background-color: rgb(255, 0, 0);
}
.side-sections .left-section{
    width:50%;
    height:100%;
    display:flex;
}
.side-sections .left-section .menu-section{
    width:50%;
    height:100%;
    background-color: red;
    padding:20px;
    overflow-y: scroll;
}
.side-sections .left-section .menu-section p{
    padding:20px;
    color:rgb(233, 229, 229);
    background-color: rgb(204, 45, 45);
    font-size: small;
}
.side-sections .left-section .menu-section p span{
    font-weight: 600;
    font-size: 25px;
}
.side-sections .left-section .menu-section p button{
    padding:15px;
    width:100%;
    border:0;
    background-color: rgb(255, 255, 255);
    color:rgb(255, 0, 0);
    border-radius: 4px;
    font-weight: 600;
    margin:10px 0;
}
.side-sections .left-section .images-section{
    background-image: url('IMG-20230929-WA0017.jpg');
    width:50%;
    height:100%;
    background-size: cover;
    background-color: red;
    background-position: center;
    animation: photos 20s infinite;
}
@keyframes photos {
    0% {
        background-image: url('IMG-20230929-WA0009.jpg');
    }
    25% {
        background-image: url('IMG-20230929-WA0007.jpg');
    }
    50% {
        background-image: url('IMG-20230929-WA0006.jpg');
    }
}
/*footer*/
footer{
    text-align: center;
    padding:20px;
    background-color: rgb(218, 223, 223);
}

@media screen and (max-width:600px) {
    header{
        z-index: 1;
    }
    .side-sections .left-section{
        flex-wrap: wrap;
        width:100%;
    }
    .side-sections .left-section .menu-section{
        position: absolute;
        width:100%;
        opacity: .9;
        background-color: rgb(153, 149, 149);
    }
    .side-sections .left-section .images-section{
        flex:2 ;
    }
    .side-sections .left-section .menu-section p{
        background-color: rgb(59, 56, 56);
         color: rgb(255, 255, 255);
         font-size: medium;
    }
    .side-sections .left-section .menu-section p button{
        background-color: red;
        color:rgb(255, 255, 255);
    }
}