*{
    padding:0;
    margin:0;
}

/*header*/
header{
    padding:10px;
    border-bottom: 1px solid rgb(242, 244, 245);
    background-color: rgb(24, 86, 221);
    box-shadow: 1px 3px 3px rgb(229, 231, 231);
}
header .company-name{
    font-size:20px;
    color:white;
    font-weight: 600;
    font-size: x-large;
    text-shadow: 1px 2px 3px white;
}
header .company-name label{
    color:rgb(20, 65, 102);
}
.short-about{
    padding:10px;
}
.short-about span{
    color:rgb(116, 158, 175);
    font-size: small;
}

/*wrapper*/
.wrapper{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.wrapper .selection-section{
    padding:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:10px;
    width:400px;
}
.wrapper .selection-section div{
    padding:20px;
    text-align: center;
    width:70%;
    border:0;
    border-radius: 10px;
    font-weight: 600;
    box-shadow:1px 5px 3px rgb(185, 185, 184);
    color:rgb(255, 255, 255);
    text-shadow: 1px 3px 4px rgb(149, 156, 140);
    background-color:rgb(24, 86, 221); ;
    
}
.wrapper .selection-section div:hover{
    cursor: pointer;
    background-color: rgb(13, 59, 158);
    color:white;
}
/*mentorship*/
.mentorship{
    border:1px solid rgb(248, 244, 244);
}
.mentorship .projects-header{
    
    background-image:linear-gradient(to right, rgb(26, 75, 167), rgb(129, 167, 216),rgb(25, 42, 194));
    width:100%;
    height: 100px;
    box-shadow: 1px 1px 3px;
}
.mentorship .projects-icon{
    
    width:70px;
    height:70px;
    background-color: rgb(89, 142, 221);
    border-radius: 50%;
    margin:-30px 0px 0 10px;
    border: 4px solid white;;
}
.mentorship h2{
    
    padding:10px;
}
.mentorship .breaker-line{
    
    width:100%;
    height:10px;
    background-color: rgb(247, 243, 243);
}
.mentorship h2 span{
    float:right;
    color:rgb(53, 119, 97);
}
.mentorship img{
    width:100%;
    border-radius: 10px;
}
.mentorship .price{
    font-size: 30px;
    color:grey;
}
.mentorship .projects-wrap{
    padding:20px;
}
.mentorship .projects-wrap .project-box{
    padding:10px 0;
}
.mentorship .project-title{
    padding:0px;
    text-transform:unset;
}
.mentorship .projects-wrap p{
    padding:10px 0;
}
.mentorship .projects-wrap button{
    padding:15px;
    width:45%;
    border:0;
    font-weight: 600;
    box-shadow: 1px 2px 3px;
    border-radius: 10px;
}
.mentorship .projects-wrap .buy-mentorship{
    background-color: rgb(75, 117, 233);
}
.mentorship .project-box{
    display:flex;
    gap:10px;
}
.mentorship .project-box .image{
    width:300px;
}
.mentorship .paragraph{
    width:300px;
}
@media screen and (max-width:650px){
    .mentorship .projects-wrap button{
        width:100%;
        margin-bottom: 10px;
    }
}
/*contact us*/
.contact-us p{
    padding:20px;
    line-height: 3;
}
.contact-us .whatsapp-us{
    padding:10px;
    background-color: grey;
    margin-bottom: 10px;
}
.contact-us .whatsapp-us button{
    padding:15px;
    background-color: lightgreen;
    border:0;
    font-weight: 600;
}

/*founder-header*/
.founder .founder-header{
    width:100%;
    height:150px;
    background-image:linear-gradient(to right, rgb(196, 202, 187), rgb(129, 206, 216),rgb(20, 94, 163));
}
.founder .image-box{
    display:flex;
    justify-content: center;
}
.founder .image-box .picture{
    width:220px;
    background-color: rgb(101, 138, 136);
    border-radius: 50%;
    overflow: hidden;
    margin-top: -70px;
    border:7px solid rgb(255, 255, 255);
}
.founder .image-box .picture img{
    width:100%;
}
.founder .paragraph{
    padding:20px;
}
.founder h3{
    padding:10px 0;
    border:1px solid rgb(235, 241, 235);
    text-align: center;
}
.founder h2{
    padding: 0px 0 10px 0;
    text-align: center;
}
.founder .buttons{
    padding:10px;
    background-color: rgb(116, 179, 204);
    margin-top: 5px;
}
.founder button{
    padding:15px;
    border:0;
    font-weight: 600;
}
.founder .facebook{
    background-color: lightblue;
}
.founder .whatsapp{
    background-color: lightgreen;
}
/*footer*/
footer{
    text-align: center;
    padding:20px;
    background-color: rgb(218, 223, 223);
}