*{
    padding:0;
    margin:0;
    color:rgb(37, 37, 37);
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display:none;
}
/*header*/
header{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding:15px;
    box-shadow:1px 1px 3px lightgrey;
    margin-bottom:10px;
}
/*website name*/
header .website-name{
    display:flex;
}
header .website-name .name{
    font-size:larger;
    font-weight: 600;
    color:rgb(112, 109, 109);
    font-family:cursive;
}
/*login*/
header .login{
    min-width:max-content;
    font-weight: 600;
}
header .login:hover{
    font-weight: 600;
    cursor: pointer;
    border-bottom: 2px solid rgb(255, 166, 0);
}
/*menu icon*/
.menu-icon{
    display:flex;
    gap:10px;
    font-weight: 600;;
}
.menu-icon .bar1,.menu-icon .bar3{
    width:25px;
    height:4px;
    background-color: rgb(173, 175, 177);
    transition: all 120ms linear;

}
.menu-icon .bar2{
    display:flex;
    margin:3px 0;
}
.menu-icon .bar2 .mini-bar1,.menu-icon .bar2 .mini-bar2,.menu-icon .bar2 .mini-bar3,.menu-icon .bar2 .mini-bar4{
    width:6.25px;
    height:4px;
    background-color: rgb(173, 175, 177);
    transition: all 400ms ease-in-out;
}
.menu-icon .bar2 .mini-bar1,.menu-icon .bar2 .mini-bar3{
    transition: all 250ms linear;
}
/*video*/
video{
    width:100%;
}
/*intro-paragraph*/
.intro-paragraph{
    text-align: center;
    padding:10px;
}
.intro-paragraph h1{
    padding:10px 0;
}
.intro-paragraph .buttons{
    padding:20px;
    border-bottom: 2px dotted rgb(136, 42, 123);
}
.intro-paragraph .buttons button{
    padding:15px;
    border-radius:4px;
    border:0;
    font-weight: 600;
}
/*horizontal-scroll*/
.horizontal-scroll{
    padding:10px;
    border:1px solid rgb(247, 243, 243);
    display:flex;
    overflow-x: hidden;
    background-color: rgb(33, 60, 117);
    margin-top:-1px;
}
.horizontal-scroll .slogan{
    min-width:max-content;
    height:fit-content;
    padding:10px
}
.horizontal-scroll .slogan i{
    color:rgb(255, 187, 0);
}
.scroll-content .content{
    width:400px;
    overflow-x: hidden;
    border-left: 1px solid rgb(233, 171, 39);

}
.scroll-content .content ul{
    display:flex;
    gap:20px;
    overflow-x: scroll;
    animation: scroll 11400ms linear infinite;
}
@keyframes scroll {
    from {margin:0;}
    to {margin:0 0 0 -1000px;}
}
.scroll-content .content ul li{
    min-width:max-content;
    padding:10px;
    color:rgb(238, 197, 14);
}
/*top projects*/
.top-projects{
    display:flex;
    align-items: center;
    gap:5px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width:100%;
    padding:10px 0;
    border-radius: 10px 10px 0 0;
    border-top:1px solid rgb(229, 232, 238);
    border-right: 1px solid rgb(229, 232, 238);
    border-left: 1px solid rgb(229, 232, 238);
    
}
.top-projects #pos1,.top-projects #pos2,.top-projects #pos3,.top-projects #pos4{
    width:10px;
    height:10px;
    border:1px solid rgb(229, 232, 238);
    border-radius: 2px;
    background-color: white;
}
.top-projects #pos1{
    background-color: rgb(158, 182, 235);
}
/*skip-buttons*/
.skip-buttons{
    width:100%;
    z-index:1;
    background-color: rgb(255, 255, 255);
    padding:10px 5px 30px 5px;
    box-shadow: 1px 1px 3px lightgrey;
    border-radius: 0 0 10px 10px;
}
.skip-buttons h2{
    padding:10px 0;
}
.skip-buttons p{
    padding:5px;
    font-size: small;
}
.skip-buttons label{
    font-weight: 600;
    color:rgb(63, 62, 62);
}
.skip-buttons button{
    padding:15px;
    border:0;
    font-weight: 600;
    background-color: unset;
    box-shadow: 1px 1px 3px lightgrey;
    border-radius: 4px;
    width:23%
}
.skip-buttons .learn-more{
   background-color: rgb(255, 255, 255);
   width:50%;
   background-color: rgb(158, 182, 235);
}
/*hero section*/
.hero-section{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    padding:20px;
    text-align: center;
}
.hero-section .images{
    width:500px;
    height:200px;
    display:flex;
    overflow-x: hidden;
}
.hero-section .images .photo1,.hero-section .images .photo2,.hero-section .images .photo3,.hero-section .images .photo4{
    min-width:100%;
}
.hero-section .images img{
    width:100%; 
    height:100%;
}
.hero-section .text{
    width:500px;
    padding:50px 10px 10px 10px;
    box-shadow: 1px 1px 3px lightgrey;

}
.hero-section .text p{
    padding:20px;
}
.hero-section .text .buttons{
    padding:10px;
    border-radius: 10px;
}
.hero-section .text .buttons p{
    padding:10px;
    text-align: center;
    font-size: small;
}
.hero-section .text .buttons button{
    padding:15px;
    font-weight: 600;
    border:0;
    width:100%;
    margin:5px 0;
    border-radius: 4px;
    box-shadow: 1px 1px 3px lightgrey; 
}
.hero-section .text .buttons button:hover{
    cursor: pointer;
    background-color:rgb(21, 47, 104) ;
    color:white;
}
.hero-section .text .buttons .view-projects{
    background-color: unset;
}
.hero-section .text .buttons .request-project{
    background-color: rgb(33, 60, 117);
    color:white;
}
.hero-section .project-title{
    color:rgb(33, 60, 117);
}
/*menu popup*/
.menu-popup{
    position:fixed;
    width:0;
    overflow:hidden;
    height:100%;
    top:0;
    display:flex;
    transition: width 300ms ease-in-out;
    z-index:1;
}
.wrap-menu{
    padding:10px;
    background-color: white;
    width:70%;
    height:100%;
    position:relative;
    border-radius: 0 100px 100px 0;
    z-index:1;
    box-shadow:1px 1px 3px;
}
.blinder{
    width:50%;
    height:100%;
    background-color:rgb(58, 57, 57);
    opacity:.9;
    margin-left:-90px;
    z-index:0;
}
.menu-popup .close-menu{
    display:flex;
    justify-content: end;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
}
.menu-popup .close-menu .icon{
    padding:10px;
    margin:0 0 0 -120px;
    font-size: 30px;
}
/*horizontal-scroll of menu popup*/
#horizontal-scroll{
    padding:10px;
    border:1px solid lightgrey;
    display:flex;
    overflow-x: hidden;
}
#horizontal-scroll #slogan{
    min-width:max-content;
    height:fit-content;
    padding:10px
}
#horizontal-scroll #slogan i{
    color:rgb(255, 187, 0);
}
#scroll-content #content{
    width:400px;
    overflow-x: hidden;
    border-left: 1px solid lightgray;

}
#scroll-content #content ul{
    display:flex;
    gap:20px;
    overflow-x: scroll;
    animation: scroll 11400ms linear infinite;
}
#scroll-content #content ul li{
    min-width:max-content;
    padding:10px;
    color:rgb(27, 26, 26);
}

.wrap-menu .menu-list ul{
    padding:10px 0;
    line-height: 2;
    list-style: none;
    min-width:max-content;
}
.wrap-menu .menu-list ul li{
    box-shadow: 1px 1px 3px lightgrey;
    margin:5px 0;
    padding:10px;
}
.wrap-menu .menu-list ul li:hover{
    cursor: pointer;
    background-color: rgb(255, 166, 0);
    font-weight: 600;
}
.wrap-menu .buttons{
    padding:10px 0;
    border-top: 1px solid rgb(218, 216, 216);
    position: absolute;
    width: 100%;
    height:100%;
    left:1px;
    background-color: rgb(33, 60, 117);
}
.wrap-menu .buttons button{
    padding:15px;
    width:90%;
    margin:10px ;
    font-weight: 600;
    min-width:max-content;
    border-radius: 4px;
}
.wrap-menu .buttons button:hover{
    background-color: rgb(255, 166, 0);
    cursor: pointer;
}
.wrap-menu .buttons .create-account{
    background-color: unset;
    border:1px solid;
    color:white;
}
.wrap-menu .buttons #request-design{
    border:0;
    background-color: rgb(255, 166, 0);
}
/*footer*/
footer{
    text-align:center;
    padding:20px;
    background-color: rgb(141, 85, 113);
    color:white;

}
/*BIG SCREEN*/
@media  screen and (min-width:700px){
/*horizontal-scroll*/
.horizontal-scroll{
    justify-content: center;
}
/*skip-buttons*/
.skip-buttons{
    display:none;
}
}
/*SMALL SCREEN*/
@media screen and  (max-width:500px){
/*header*/
header{
    justify-content: end;
}
/*website name*/
header .website-name{
    width:100%;
}
/*summary section*/
.summary-section .services .services-list .one,.summary-section .services .services-list .two,.summary-section .services .services-list .three,.summary-section .services .services-list .four,.summary-section .services .services-list .five,.summary-section .services .services-list .six{
    width:100%;
}
}